<!DOCTYPE html>
<html>
<head>
    <title>News Propagation Simulation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io();

            socket.on('log', function(data) {
                console.log(data.msg);
            });

            socket.on('news', function(data) {
                console.log('News received:', data.msg);
                // Decide whether to share this news
                if (Math.random() < 0.5) {  // 50% chance to share
                    console.log('Sharing news...');
                    socket.emit('share_news', {msg: data.msg});
                } else {
                    console.log('Not sharing news this time.');
                }
            });

            // Initially share some news
            socket.emit('share_news', {msg: 'Breaking News! Something big happened.'});
        });
    </script>
</head>
<body>
    <h1>News Propagation Simulation</h1>
    <p>Check your console for the propagation log.</p>
</body>
</html>
